.mainSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.AboutUs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentBox{
    width: 40%;
    padding-left: 1em;
}

.contentBox h1{
    font-size: 2.5rem;
    align-content: center;
}

.contentBox p{
    font-size: 1.2 rem;
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.imgContainer{
    width: 50%;
}

.imgContainer img{
    width:50%;
    margin: 0 auto;
    display: block;
}

